.nav-list {
  list-style: none;
  text-decoration: none;
  display: flex;
}

.navbar { 
  display: flex; 
  position: sticky;  
  align-items: center; 
  justify-content: center; 
  top: 0px; 
  cursor: pointer; 
} 
.active-link {
  color: blueviolet;
}

.nav-div {
  position: fixed;
  width: 92.5%;
  background-color: bisque;
  /* z-index: 1000; */
}

.body-div {
  margin-top: 5px;
  padding: 140px; 
  box-sizing: border-box;
}